<!DOCTYPE HTML>
<html>
	<head>
		<title>Rabbit</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="is-preload">
		<!-- 新文章 -->
		<div id="postModal" style="display: none;">
    		<div>
        		<span id="closeModalBtn">&times;</span>
        		<h2>撰寫新文章</h2>
        		<form id="newPostForm">
            		<label for="postTitle">標題:</label>
            		<input type="text" id="postTitle" name="title" required><br><br>

            		<label for="postContent">內容:</label>
            		<textarea id="postContent" name="content" rows="10" required></textarea><br><br>

            		<label for="postCategory">種類:</label>
           	 		<select id="postCategory" name="category" required>
						<option value="Food">Food</option>
                		<option value="Sports">Sports</option>
                		<option value="Technology">Technology</option>
                		<option value="Other">Other</option>
           			</select><br><br>

            		<button type="submit">發佈文章</button>
        		</form>
    		</div>
		</div>
		<!-- 登入 -->
		<div id="authModal" style="display: none;">
    		<div>
        		<span id="closeAuthModalBtn" class="modal-close-btn">&times;</span>
        		<h2>使用者登入 / 註冊</h2>
				<div id="authContent">
					<form id="loginForm" class="auth-form">
					<h3>登入</h3>
						<label for="loginUsername">使用者名稱:</label>
						<input type="text" id="loginUsername" name="username" required><br><br>

						<label for="loginPassword">密碼:</label>
						<input type="password" id="loginPassword" name="password" required><br><br>

						<button type="submit">登入</button>
						<p>還沒有帳號？ <a href="#" id="showRegister">點此註冊</a></p>
					</form>
					<form id="registerForm" class="auth-form">
					<h3>註冊</h3>
						<label for="regUsername">使用者名稱:</label>
						<input type="text" id="regUsername" name="username" required><br><br>
			
						<label for="regEmail">Gmail 電子郵件:</label>
						<input type="email" id="regEmail" name="email" required><br><br>

						<label for="regPassword">密碼:</label>
						<input type="password" id="regPassword" name="password" required><br><br>

						<button type="submit">註冊</button>
						<p>已有帳號？ <a href="#" id="showLogin">返回登入</a></p>
					</form>
				</div>
    		</div>
		</div>


		<!-- Wrapper -->
			<div id="wrapper">
				<div id="main">
        			{% if articles %}
   					{% for article in articles %}
        			<article class="post">
            			<header>
                			<div class="title">
                    			<a href="{{ url_for('single_posts', article_id=article[0]) }}"><h2 class="article-content">{{ article[1] }}</h2></a>
                			</div>
                			<div class="meta">
                    			<time class="published" datetime="{{ article[4] }}">{{ article[4] }}</time>
                    			<a href="{{ url_for('author_posts', author_name=article[3]) }}" class="author"><span class="name">{{ article[3] }}</span></a>
                			</div>
            			</header>
            			<p class="article-content">{{ article[2] | safe }}</p>
            			<footer>
							<ul class="stats">
								<li>{{ article[5] }}</li>
								<li><a href="{{ url_for('single_posts', article_id=article[0]) }}" class="icon solid fa-comment">128</a></li>
							</ul>
            			</footer>
        			</article>
    				{% endfor %}
					{% else %}
    				<p>此分類下目前沒有文章。</p>
					{% endif %}
    			</div>
				<!-- Sidebar -->
					<section id="sidebar">
						<!-- Intro -->
							<section id="intro">
								<a href="{{ url_for('index') }}" class="logo"> 
        							<img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" />
							    </a>
								{% if username %}
								<div>
									<a href="/"><p id="welcome-message" class="big">你好，{{ username }}</p></a>
								</div>
								{% endif %}
								<header>
									{% if username %}
    								<a href="{{ url_for('logout') }}" id="logoutBtn">
        								<h2>登出</h2>
    								</a>
									{% else %}
    								<a href="#">
        								<h2 id="loginRegisterBtn">登入/註冊</h2>
    								</a>
									{% endif %}
									<button id="addPostButton">新增文章</button>
								</header>
							</section>
						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">
									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{{ url_for('category_posts', category_name='Food') }}">#Food</a></h3>
												<a href="#" class="author"></a>
											</header>
											<a href="{{ url_for('category_posts', category_name='Food') }}" class="image"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" /></a>
										</article>
									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{{ url_for('category_posts', category_name='Sports') }}">#Sports</a></h3>
												<a href="#" class="author"></a>
											</header>
											<a href="{{ url_for('category_posts', category_name='Sports') }}" class="image"><img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="" /></a>
										</article>
									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{{ url_for('category_posts', category_name='Technology') }}">#Technology</a></h3>
												<a href="#" class="author"></a>
											</header>
											<a href="{{ url_for('category_posts', category_name='Technology') }}" class="image"><img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="" /></a>
										</article>
									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{{ url_for('category_posts', category_name='Other') }}">#Other</a></h3>
												<a href="#" class="author"></a>
											</header>
											<a href="{{ url_for('category_posts', category_name='Other') }}" class="image"><img src="{{ url_for('static', filename='images/pic07.jpg') }}" alt="" /></a>
										</article>
								</div>
							</section>
					</section>
			</div>
		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>	
	</body>
</html>