<!DOCTYPE HTML>
<html>
	<head>
		<title>Rabbit</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<div id="main">
        			{% if articles %}
   					{% for article in articles %}
        			<article class="post">
            			<header>
                			<div class="title">
                    			<h2>{{ article[0] }}</h2>
                			</div>
                			<div class="meta">
                    			<time class="published" datetime="{{ article[3] }}">{{ article[3] }}</time>
                    			<a href="{{ url_for('author_posts', author_name=article[2]) }}" class="author"><span class="name">{{ article[2] }}</span></a>
                			</div>
            			</header>
            				<p>{{ article[1] | safe }}</p>
            			<footer>
							<ul class="stats">
								<li>{{ article[4] }}</li>
								<li><a href="#" class="icon solid fa-heart">28</a></li>
								<li><a href="#" class="icon solid fa-comment">128</a></li>
							</ul>
            			</footer>
        			</article>
    				{% endfor %}
					{% else %}
    				<p>此分類下目前沒有文章。</p>
					{% endif %}
    			</div>
				<!-- Sidebar -->
					<section id="sidebar">
						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="" /></a>
								<header>
									<h2>部落格</h2>
									<button id="addPostButton">新增一篇範例文章</button>
								</header>
							</section>
						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">
									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{{ url_for('category_posts', category_name='Food') }}">#Food</a></h3>
												<a href="#" class="author"></a>
											</header>
											<a href="{{ url_for('category_posts', category_name='Food') }}" class="image"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" /></a>
										</article>
									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{{ url_for('category_posts', category_name='Sports') }}">#Sports</a></h3>
												<a href="#" class="author"></a>
											</header>
											<a href="{{ url_for('category_posts', category_name='Sports') }}" class="image"><img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="" /></a>
										</article>
									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{{ url_for('category_posts', category_name='Technology') }}">#Technology</a></h3>
												<a href="#" class="author"></a>
											</header>
											<a href="{{ url_for('category_posts', category_name='Technology') }}" class="image"><img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="" /></a>
										</article>
									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{{ url_for('category_posts', category_name='Other') }}">#Other</a></h3>
												<a href="#" class="author"></a>
											</header>
											<a href="{{ url_for('category_posts', category_name='Other') }}" class="image"><img src="{{ url_for('static', filename='images/pic07.jpg') }}" alt="" /></a>
										</article>
								</div>
							</section>
					</section>
			</div>
		<!-- Scripts -->
			<script src="assets/js/main.js"></script>
	</body>
</html>