<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>	
    </head>

    <body>
        <h1>Login</h1><br>
        <form id="loginForm" method="POST" action="/login">
            <label for="username">username:</label>
            <input type="text" name="username" id="username"><br><br>
            <label for="password">password:</label>
            <input type="password" name="password" id="password"><br><br>
            <button type="button" onclick="login()">Login</button>
        </form>
    </body>
</html>